.about{
    .about-container{
        display: flex;
        justify-content: center;
        .about-title{
            font-family: Logo;
            font-size: 60px;
            letter-spacing: 3px;
        }
    }
}

